Source: ros-hydro-rtt
Section: misc
Priority: extra
Maintainer: RTT Developers <orocos-dev@lists.mech.kuleuven.be>
Build-Depends: debhelper (>= 7.0.50~), cmake, libboost-all-dev, libomniorb4-dev, libxml-xpath-perl, omniidl, omniorb, omniorb-nameserver, pkg-config, ros-hydro-catkin
Homepage: http://www.orocos.org/rtt
Standards-Version: 3.9.2

Package: ros-hydro-rtt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libomniorb4-dev, libxml-xpath-perl, omniidl, omniorb, omniorb-nameserver, pkg-config, ros-hydro-catkin
Description: Orocos/RTT component framework
