Source: ros-kinetic-rtt
Section: misc
Priority: extra
Maintainer: Orocos Developers <orocos-dev@lists.mech.kuleuven.be>
Build-Depends: debhelper (>= 9.0.0), cmake, libboost-all-dev, libomniorb4-dev, libxml-xpath-perl, omniidl, omniorb, omniorb-idl, omniorb-nameserver, pkg-config, ros-kinetic-catkin
Homepage: http://www.orocos.org/rtt
Standards-Version: 3.9.2

Package: ros-kinetic-rtt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libomniorb4-dev, libxml-xpath-perl, omniidl, omniorb, omniorb-idl, omniorb-nameserver, pkg-config, ros-kinetic-catkin
Description: Orocos/RTT component framework
